html {
  font-size: 16px;
}

.flex {
  display: flex;
  align-items: center;
}

.img {
  width: 100%;
  height: auto;
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

body {
  width: 100%;
}

.main {
  width: 100%;
  min-width: 1280px;
  padding-left: 100px;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1090px;
    margin: 0 auto;

    &-movie {
      width: 702px;
    }

    &-info {
      width: 368px;

      .news {
        position: relative;
        cursor: pointer;
        &:hover {
          &::after {
            content: url(../img/top/main-news-hover.png);
            position: absolute;
            top: 10px;
            left: 10px;
          }
        }
      }

      .campaign {
        margin-top: 20px;
        position: relative;
        cursor: pointer;
        &:hover {
          &::after {
            content: url(../img/top/main-campaign-hover.png);
            position: absolute;
            top: 0px;
            left: 0px;
          }
        }
      }
    }

    &-us {
      margin-top: 20px;
      width: 620px;
      &:hover {
        opacity: 0.4;
      }
    }
  }
}

// service
.swiper {
  margin-top: 20px;
  margin-left: 0;
  overflow: hidden;
  width: 450px;
}
.swiper--wrapper {
  /* wrapperのサイズを調整 */
  width: 100%;
  height: 300px;
}
.swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  color: #ffffff;
  width: 450px;
  height: 100%;
  text-align: center;
  line-height: 300px;
}
.swiper-button-next {
  right: -1px;
  &::after {
    content: "";
  }
  &:hover {
    opacity: 0.4;
  }
}
.swiper-button-prev {
  left: -2px;
  &::after {
    content: "";
  }
  &:hover {
    opacity: 0.4;
  }
}
.swiper-pagination-bullet {
  background-color: $cWhite;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 256px;
  left: 346px;
  width: 74px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2px;
}

//
.car {
  width: 100%;
  min-width: 1280px;
  padding-left: 100px;

  &__wrapper {
    width: 1090px;
    margin: 0 auto;
    margin-top: 21px;
  }

  &__next {
    max-width: 1091px;
    display: flex;
    align-items: flex-end;
    &-border {
      height: 3px;
      animation-name: kf-border;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
  &__prev {
    margin-top: 7px;
    max-width: 1091px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    &-border {
      height: 3px;
      animation-name: kf-border;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes kf-border {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.shop {
  width: 100%;
  min-width: 1280px;
  padding-left: 100px;
  margin-top: 23px;

  &__wrapper {
    display: flex;
    width: 1090px;
    margin: 0 auto;
    background-color: $cLiteGreen;
  }

  &__list {
    width: 474px;

    &-li {
      height: 130px;
      overflow: hidden;
      position: relative;

      &::after {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        width: 1000px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        transition: background 0.3s;
        pointer-events: none;
      }
      &.hover {
        height: 180px;
      }
      &.active {
        height: 180px;
        &::after {
          content: "";
          background: none;
        }
      }
    }
    &-img {
      transform: scale(1);
      transition: transform 0.3s;
      position: relative;
      &:hover {
        transform: scale(1.1);
      }
      &.ichikawa {
        top: -165px;
        left: -90px;
      }
      &.shinkoiwa {
        top: -150px;
        left: -145px;
      }
      &.chibakita {
        top: -85px;
        left: -65px;
      }
      &.narita {
        top: -255px;
        left: -165px;
      }
      &.mobara {
        top: -85px;
        left: -75px;
      }
      &.togane {
        top: -160px;
        left: -100px;
      }
    }
    &-title {
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50px;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

  &__detail {
    width: 100%;
    padding-top: 91px;
    padding-left: 50px;
    position: relative;
    display: none;
    &::before {
      content: url(../img/top/shop-map1.png);
      position: absolute;
      top: 21px;
      right: 22px;
    }
    &.is-active {
      display: block;
    }
  }
  &__access {
    width: 500px;
    padding-bottom: 40px;
    border-bottom: 3px solid $cBorderGreen;
    &-h2 {
      font-size: 1.375rem;
      position: relative;
      display: inline-block;
      margin-left: 20px;
      &::before {
        content: url(../img/top/shop-h2-before.png);
        position: absolute;
        top: 0.5px;
        left: -20px;
      }
      &::after {
        content: url(../img/top/shop-h2-after.png);
        position: absolute;
        top: -3.5px;
        right: -40px;
      }
    }
    &-address {
      margin-top: 23px;
      font-size: 0.875rem;
      line-height: 1.5rem;
      & > p {
        position: relative;
        &:nth-child(1) {
          display: inline;
          &::after {
            content: url(../img/top/shop-address-after.png);
            position: absolute;
            top: -5px;
            right: -50px;
          }
        }
      }
    }
  }
  &__text {
    margin-top: 30px;
    width: 500px;
    &-area {
      text-align: justify;
      font-size: 1.005rem;
      line-height: 1.5rem;
    }
    &-img {
      margin-top: 20px;
      & > span {
        display: inline-block;
        width: 155px;
        height: 93px;
        background-image: url(../img/top/shop-clip.png);
        &:nth-child(2) {
          margin-left: 12px;
          margin-right: 12px;
        }
      }
    }
  }
  &__info {
    margin-top: 48px;
    &-title {
      margin-left: 20px;
      position: relative;
      &::before {
        content: url(../img/top/shop-h2-before.png);
        position: absolute;
        top: -2px;
        left: -20px;
      }
    }
    &-event {
      margin-top: 8px;
      &:hover {
        opacity: 0.4;
      }
    }
  }
}
